# Ignore ISOs folder for version control
/isos

# Ignore vault_pass.txt file
.vault_pass.txt

# Ignore python virtual environment for script development
.venv

# Ignore archinstall module
archinstall-*

# Ignore collections
.collections

# Ignore any password files
*password*

# Ignore any unencrypted files so they are not publicy seen.
*_uncry.yaml
